body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* HEADER START */
.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}

ol {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a {
    color: white;
    text-decoration: none;
}
/*HEADER END */
/* HERO START */
.hero {
    display: flex;
    background-color: #1F2937;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 80px;
}

.left-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.right-content {
    display: flex;
    background-color: #1F2937;
}

button {
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
}
/* HERO END */

/* MAIN CONTENT (white) START */
.main-content {
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 80px;
    
}
.img {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 150px;
}

.subtext {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 80px;
}

.text {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 150px;
}
/* MAIN CONTENT (white) END */

/* MAIN CONTENT (grey) START */
.quote {
    display: flex;
    background-color: #b9b9b9;
    color: white;
    align-items: center;
    padding-top: 80px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 80px;;
}

.paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    flex-direction: column;
}

.thor {
    display: flex;
    flex-direction: column;
}
/* MAIN CONTENT (grey) START */

/* MAIN CONTENT (blue banner) START */
.action-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
}

.action {
    display: flex;
    flex-direction: column;
    background-color: #5084ce;
    border-radius: 5px;
    padding: 30px 300px 30px 300px;
}

.btm-btn {
    display: flex;
}
/* MAIN CONTENT (blue banner) START */

/* FOOTER START */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 30px;
    color: white;
}
/* FOOTER END */