body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* HEADER START */
.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}

.logo,
h2 {
    font-size: 24px;
}

ol {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a {
    color: white;
    text-decoration: none;
}
/*HEADER END */

/* HERO START */
.hero {
    display: flex;
    background-color: #1F2937;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 80px;
}

.left-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.right-content {
    display: flex;
    background-color: #5f5f5f;
    width: 900px;
    height: 190px;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 6px;
    padding: 5px 20px 5px 20px;
}
/* HERO END */

/* MAIN CONTENT (white) START */
.main-content {
    display: flex;
    flex-direction: column;
}

.main-content,
h1 {
    font-size: 36px;
    font-weight: bolder;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 80px;
    
}
.img {
    border-radius: 25px;
    border: 4px solid #3882F6;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 150px;
}

.subtext {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 80px;
    margin: -70px;
    text-align: center;
}

.text {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 150px;
}

p {
    font-size: 18px;
    font-weight: lighter;
}
/* MAIN CONTENT (white) END */

/* MAIN CONTENT (grey) START */
.quote {
    display: flex;
    background-color: #E5e7EB;
    color: #1F2937;
    align-items: center;
    font-style: italic;
    font-weight: lighter;
    padding-top: 80px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 80px;;
}

.paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    flex-direction: column;
    font-weight: lighter;
}

.para {
    font-size: 36px;
    font-weight: lighter;
}

.thor {
    margin-top: 100px;
    text-align: center;
}
/* MAIN CONTENT (grey) END */

/* MAIN CONTENT (blue banner) START */
.action-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
}

.action {
    display: flex;
    flex-direction: column;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 10px 300px 10px 300px;
    color: #F9FAF8;
    text-align: start;
}

.btm-btn {
    display: flex;
    border-radius: 6px;
    padding-left: 30px;
}
/* MAIN CONTENT (blue banner) END */

/* FOOTER START */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 30px;
    color: white;
}
/* FOOTER END */