
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    align-items: center;
    margin-right: auto;
}

/* HEADER START */
.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}

.top-logo {
    font-size: 24px;
}

ol {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a {
    color: white;
    text-decoration: none;
}
/*HEADER END */

/* HERO START */
.hero {
    display: flex;
    background-color: #1F2937;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 80px;
}

.left-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.right-content {
    display: flex;
    background-color: #5f5f5f;
    width: 900px;
    height: 190px;
    justify-content: center;
    align-items: center;
}

.top-btn {
    background-color: #3882F6;
    color: white;
    border-radius: 6px;
    padding: 5px 20px 5px 20px;
}
/* HERO END */

/* MAIN CONTENT (white) START */
.main-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 100px;
}


.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 80px;
    
}
.img {
    border-radius: 25px;
    border: 4px solid #3882F6;
    margin: 20px;
    width: 200px;
    height: 150px;
}

/* 
.subtext {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 80px;
    margin: -70px;
    text-align: center;
}
*/

.text {
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    text-align: center;
    font-size: 18px;

}

/* MAIN CONTENT (white) END */

/* MAIN CONTENT (grey) START */
.quote {
    display: flex;
    background-color: #E5e7EB;
    color: #1F2937;
    align-items: center;
    padding-top: 80px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 80px;;
}

.paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    flex-direction: column;
}

.para {
    font-size: 36px;
    font-style: italic;
}

.thor {
    padding-left: 300px;
    font-weight: bold;
}
/* MAIN CONTENT (grey) END */

.btm-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    flex-flow: row wrap;
}

.blue-banner {
    display: flex;
    background-color: #3882F6;
    border-radius: 6px;
    padding: 20px 150px 20px 150px;
    color: #E5e7EB;
}

.action {
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
}

.banner-btn {
    display: flex;
}
.blah {
    padding-top: 40px;
    padding-left: 40px;
}

.btm-btn {
    width: 100px;
    flex: 0 1 auto;
    height: 30px;
    border-radius: 5px;
    background-color: #3882F6;
    color: #E5e7EB;
    border: 2px solid #E5e7EB;
}

/* 
STARTED OVER
MAIN CONTENT (blue banner) START 
.action-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
}

.action {
    display: flex;
    flex-direction: column;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 10px 300px 10px 300px;
    color: #F9FAF8;
}

.btm-text {
    margin-right: 200px;
}

.btm-btn {
    display: flex;
    flex-direction: column;
}
 MAIN CONTENT (blue banner) END */

/* FOOTER START */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 30px;
    color: white;
}
/* FOOTER END */